body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    height: 420px;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    margin: 2.5px;
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border-color: white;
}

.present {
    background-color: #C9B458;
    color: white;
    border-color: white;
}

.absent {
    background-color: #787C7E;
    color: white;
    border-color:white;
}


.keyboard-row {
    width: 400px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.key-tile {
    width: 36px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*new changes*/
#leaderboard {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 200px; /* Adjust the width as needed */
}

#leaderboard h2 {
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

#leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#leaderboard-list li {
    background-color: #fff;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#leaderboard-list li:last-child {
    margin-bottom: 0;
}